<!DOCTYPE html>

<html>

<head>

<title>Job Tracker</title>

<style>

body{
text-align:center;
font-family:Arial;
}

h1{
font-size:70px;
margin-top:50px;
color:darkblue;
}

select{
padding:12px;
width:300px;
font-size:18px;
}

button{
padding:12px 20px;
font-size:18px;
}

</style>

</head>

<body>

<h1>WELCOME TO OUR SITE</h1>

<form action="/show" method="POST">

<h2>Select Job Type</h2>

<select name="job">

<option value="typing">
Typing
</option>

<option value="coding">
Coding
</option>

<option value="web developer">
Web Developer
</option>

<option value="cyber security">
Cyber Security
</option>

<option value="ai engineer">
AI Engineer
</option>

</select>

<br><br>

<button>
Explore
</button>

</form>

</body>

</html>